* {
  box-sizing: border-box;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

img.small {
  min-height: 8rem;
  width: 100%;
}



.button {
  background-color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    border: 0.1rem #404040 solid;
    background-color: #f0c040;
    width: 100%;
    cursor: pointer;
}

.block {
  background-color: #bee8f7;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-1 {
  flex-basis: 100%;
}

.col-2 {
  flex-basis: 100%;
}

@media screen and(min-width:800px) {
  .col-1 {
    flex: 1;
  }

  .col-2 {
    flex: 2;
  }
}